:host {
    position: relative;
    display: block;
    padding: 0 6em;
    margin: 0 -6em;
}
:host:hover {
    background: rgb(230,230,230);
}
:host:hover .controls {
    visibility: visible;
}
.controls {
    padding-top: 6px;
    visibility: hidden;
    font-size: 1rem;
    position: absolute;
    left: 0;
    width: 2rem;
    text-align: center;
}
