<div class="card">
  <a [attr.name]="node.id"></a>
  <div class="card-header handle d-flex justify-content-between" style="cursor: move">
    <div style="pointer-events: none;"><i class="fa fa-arrows"></i></div>
    <div><button class="btn btn-warning btn-sm" (click)="deleted.emit(true)"><i class="fa fa-minus"></i></button></div>
  </div>
  <div class="card-block">

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Output ID:</label>
      <div class="col-md-10"><input type="text" class="form-control" [(ngModel)]="node.id"></div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Content: <small><a href="#">Help</a></small></label>
      <div class="col-md-10"><textarea class="form-control" [(ngModel)]="node.content" rows="3"></textarea></div>
    </div>
    <div class="form-group row">
      <div class="form-check col">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [(ngModel)]="node.display">
          Display this content directly in the result.
        </label>
      </div>
    </div>

    <ng-template [ngIf]="node.condition === null">
      <div class="row">
        <div class="col">
          <button class="btn btn-default" (click)="addCondition()">Add Condition</button>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="node.condition !== null">
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Question ID:</label>
        <div class="col-md-10"><input type="text" class="form-control" [(ngModel)]="node.condition.questionId"></div>
      </div>
      <div class="form-group row">
        <div class="col">
        <label class="custom-control custom-radio">
          <input type="radio" [attr.name]="node.id" class="custom-control-input" value="eq" [(ngModel)]="node.condition.comparator">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">=</span>
        </label>
        <label class="custom-control custom-radio">
          <input type="radio" [attr.name]="node.id" class="custom-control-input" value="ne" [(ngModel)]="node.condition.comparator">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">&ne;</span>
        </label>
        <label class="custom-control custom-radio">
          <input type="radio" [attr.name]="node.id" class="custom-control-input" value="lt" [(ngModel)]="node.condition.comparator">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">&lt;</span>
        </label>
        <label class="custom-control custom-radio">
          <input type="radio" [attr.name]="node.id" class="custom-control-input" value="gt" [(ngModel)]="node.condition.comparator">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">&gt;</span>
        </label>
        <label class="custom-control custom-radio">
          <input type="radio" [attr.name]="node.id" class="custom-control-input" value="lte" [(ngModel)]="node.condition.comparator">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">&le;</span>
        </label>
        <label class="custom-control custom-radio">
          <input type="radio" [attr.name]="node.id" class="custom-control-input" value="gte" [(ngModel)]="node.condition.comparator">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">&ge;</span>
        </label>
        <label class="custom-control custom-radio">
          <input type="radio" [attr.name]="node.id" class="custom-control-input" value="range" [(ngModel)]="node.condition.comparator">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">range</span>
        </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Condition:</label>
        <ng-template [ngIf]="node.condition.comparator === 'range'">
          <div class="col-md-5"><input placeholder="min" type="text" class="form-control" [(ngModel)]="node.condition.compareMin"></div>
          <div class="col-md-5"><input placeholder="max" type="text" class="form-control" [(ngModel)]="node.condition.compareMax"></div>
        </ng-template>
        <ng-template  [ngIf]="node.condition.comparator !== 'range'">
          <div class="col-md-10"><input type="text" class="form-control" [(ngModel)]="node.condition.compare"></div>
        </ng-template>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-danger" (click)="removeCondition()">Remove Condition</button>
        </div>
      </div>
    </ng-template>

  </div>
</div>
