    <ng-template [ngIf]="condition === null">
      <div class="row">
        <div class="col">
          <button class="btn btn-default" (click)="addCondition()">Add Condition</button>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="condition !== null">
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Comapre to ID:</label>
        <div class="col-md-10"><input type="text" class="form-control" [(ngModel)]="condition.questionId"></div>
      </div>
      <div class="form-group row">
        <div class="col">
          <div class="btn-group">
            <label class="btn btn-primary" [(ngModel)]="condition.comparator" btnRadio="eq">=</label>
            <label class="btn btn-primary" [(ngModel)]="condition.comparator" btnRadio="ne">&ne;</label>
            <label class="btn btn-primary" [(ngModel)]="condition.comparator" btnRadio="lt">&lt;</label>
            <label class="btn btn-primary" [(ngModel)]="condition.comparator" btnRadio="gt">&gt;</label>
            <label class="btn btn-primary" [(ngModel)]="condition.comparator" btnRadio="lte">&le;</label>
            <label class="btn btn-primary" [(ngModel)]="condition.comparator" btnRadio="gte">&ge;</label>
            <label class="btn btn-primary" [(ngModel)]="condition.comparator" btnRadio="range">range</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Condition:</label>
        <ng-template [ngIf]="condition.comparator === 'range'">
          <div class="col-md-5"><input placeholder="min" type="text" class="form-control" [(ngModel)]="condition.compareMin"></div>
          <div class="col-md-5"><input placeholder="max" type="text" class="form-control" [(ngModel)]="condition.compareMax"></div>
        </ng-template>
        <ng-template  [ngIf]="condition.comparator !== 'range'">
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="condition.compare">
              <span class="input-group-btn"><button class="btn btn-secondary" type="button"><i class="fa fa-calendar"></i></button></span>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-danger" (click)="removeCondition()">Remove Condition</button>
        </div>
      </div>
    </ng-template>