@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

:host /deep/ .fr-box.fr-basic.fr-top>div:not([class]) {
    display: none !important;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding: 10px 0;
    border-top: 1px solid lightgrey;
}

.node-area {
    min-height: 30px;
}
.toolbox-container > * {
    margin-right: 5px; 
}
 /*       page_footer:{
            margin:[60,0,60,0]
        },
        page_number:{
            alignment:'left',
            fontSize:22,
            color:'grey',
            margin:[0,30]
        },
        page_header_subject:{
            color:'grey',
            fontSize: 14,
            bold: true
        },
        page_header_item: {
            alignment:'right',
            color:'grey',
            fontSize: 14
        }*/