:host {
    position: relative;
    display: block;
    padding: 0 6em;
    margin: 0 -6em;
}
:host:hover .controls {
    visibility: visible;
}
.controls {
    padding-top: 6px;
    visibility: hidden;
    font-size: 1rem;
    position: absolute;
    left: calc(100% - 6rem);
    text-align: right;
}
