/* You can add global styles to this file, and also import other style files */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.output-section {
    background: rgb(230,230,230);
}

.output-content {
    border: 1px solid rgb(200,200,200);
    background: white;
    padding: 6em;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.print {
    line-height: 1.2;
    font-size: 10px;
}
.print input.wysiwyg, .print textarea.wysiwyg {
    color: inherit;
    outline: none;
    border: none;
    width: 100%;
    font: inherit;
    text-transform: inherit;
    resize: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: none;
}
@media (min-width: 992px) {
    .print {
        font-size: 15px;
    }
}

.print .title {
    font-size: 2.8em;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 0 0.3em 0;
}
.print .sub_title {
    font-size: 2.4em;
    padding:-0.41666666666666666666666666666667em 0 0.83333333333333333333333333333333em;
    text-transform: uppercase;
}
.print .date {
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
}
.print .answer {
    font-weight: 900;
}
.print .yes {
    color:#00A3D6;
}
.print .h_line {
    padding: 1em 0;
    border-bottom: 0.4em solid grey;
}
.print .field {
    font-size: 2.4em;
    padding:0 0 0.625em;
}
.print .sub_header {
    font-size: 1.6em;
    font-weight: 900;
    color: #00A3D6;
    padding: 0 0 0.625em;
}
.print .header{
    font-size: 2.2em;
    padding:1em 0 0.625em;
}
.print .body{
    padding:0 0 0.625em;
    font-size:1.4em;
    line-height:1.3;
}